<!DOCTYPE html>
<html>
 <head>
     <title>Musings of a SuperTeece</title>
     <link rel="stylesheet" type="text/css" href="custom.css">
 </head>
 <body {#style="background-color:black;color:white;font-size:125%"#}>
     <div>
            Stuff:
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('rss') }}" target="_blank">RSS</a>
        </div>
     <table>
        <tr>
            <td><pre>Random Thoughts:</pre></td>
        </tr>
        <tr>
            <td><a href="posts/art-of-dm-sliding.html">The Art of DM Sliding (A Love Story)</a></td>
        </tr>
        <tr>
            <td><a href="posts/lost-and-found.html">Lost and Found (A Data Recovery Drama)</a></td>
        </tr>
        <tr>
            <td><a href="posts/what-it-means-to-be.html">What it Means to Be</a></td>
        </tr>
     </table>
 </body>
</html>
