body {
    background-color:black;
    color:white;
    font-size:125%;
}

a:link {
    color:white;
}

a:visited {
    color:white;
}

a:hover {
    color:white;
}

a:active {
    color:white
}

pre {
    overflow-x: auto;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}
